<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CRUD</title>
</head>
<body>
    <div>
        <h1>CRUD operations</h1>
        <ul>
            <li><a href="/create">create</a></li>
            <li><a href="/read">read</a></li>
            <li><a href="/update">update</a></li>
        </ul>
    </div>
</body>
</html>